/* PAGE */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

/* CARD */
.login-card {
  width: 380px;
  padding: 35px;
  border-radius: 16px;
  background: #1e293b;
  border: 1px solid #334155;
  text-align: center;
}

.login-card h1 {
  margin-bottom: 5px;
  color: white;
}

.login-card p {
  color: #94a3b8;
  margin-bottom: 20px;
}

/* INPUT */
.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #334155;
  background: #0f172a;
  color: white;
  outline: none;
}

.login-card input:focus {
  border-color: #38bdf8;
  box-shadow: 0 0 0 3px rgba(56, 189, 248, 0.2);
}

/* PASSWORD FIELD */


.password-field {
  position: relative;
   width: 100%;
}

.password-field input {
  width: 100%;
  padding-right: 45px;
  margin-bottom: 0;
}

.eye-btn {
  position: absolute;

  right: 14px;

  top: 50%;

  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  padding: 0;
  margin: 0;

  border: none;

  background: transparent !important;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  font-size: 18px;
  line-height: 1;

  color: #38bdf8;
}


/* icon perfect center */
.eye-btn svg {
  width: 18px;
  height: 18px;
}

.eye-btn:hover {
  color: #ffffff;
}


/* LOGIN OPTIONS */
.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #cbd5e1;
  margin-bottom: 15px;
}

.login-options a {
  color: #38bdf8;
  text-decoration: none;
}

.login-options label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.login-options input {
  width: 16px;
  height: 16px;
  margin: 0;
}

/* BUTTON */
button:not(.eye-btn) {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

button:hover {
  background: #0ea5e9;
}

/* BOTTOM TEXT */
.bottom-text {
  margin-top: 15px;
  color: #cbd5e1;
}

.bottom-text a {
  color: #38bdf8;
  text-decoration: none;
}