.auth-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}

.auth-card {
    width: 420px;
    background: #1e293b;
    padding: 35px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.auth-card button[type="submit"] {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.auth-card button[type="submit"]:hover {
    background: #0ea5e9;
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 25px;
}

/* INPUT FIELD FIXED */
.password-field {
    position: relative;
    width: 100%;
     margin-bottom: 18px;
}

.password-field input {
    width: 100%;
    height: 48px;
    padding: 12px 45px 12px 12px;
    border: 1px solid #334155;
    border-radius: 8px;
    outline: none;
    background: #0f172a;
    color: white;
    margin-bottom: 0;
}

.password-field input:focus {
    border-color: #38bdf8;
    box-shadow: 0 0 0 2px rgba(56,189,248,.2);
}

.eye-btn {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    border: none;
    background: transparent;

    color: #94a3b8;
    cursor: pointer;
    font-size: 18px;
}

.eye-btn:hover {
    color: white;
}

.eye-btn svg {
    width: 18px;
    height: 18px;
}

/* BUTTON */
.auth-card button:not([type="submit"]) {
    width: auto !important;
    padding: 0 !important;
    background: transparent !important;
}